# node
**/node_modules/

# python
__pycache__/
*.pyc

# build artifacts
**/build/
**/dist/

# env
**/.env

# etc
.DS_Store

#pgdata
/pgdata

# Spring Boot secret configs
**/application.properties
**/application.yml
**/.gradle/
**/build/
**/out/