# node
**/node_modules/

# python
__pycache__/
*.pyc

# build artifacts
**/build/
**/dist/

# env
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# etc
.DS_Store

#pgdata
/pgdata

# Spring Boot secret configs
backend/behindy/
**/.gradle/
**/build/
**/out/
backend/.idea/              
backend/.idea/.gitignore
backend/.idea/compiler.xml
backend/.idea/gradle.xml
backend/.idea/misc.xml
backend/.idea/modules.xml
backend/.idea/modules/backend.main.iml
backend/.idea/vcs.xml
document1.md
document2.md