# node
**/node_modules/

# python
__pycache__/
*.pyc

# build artifacts
**/build/
**/dist/

# env
**/.env
**/.env**

# etc
.DS_Store

#pgdata
/pgdata

# Spring Boot secret configs
backend/behindy/
**/.gradle/
**/build/
**/out/